@import "tailwindcss";

body {
    
    background-color: #050b18;
    background-image:
        radial-gradient(at 30% 20%, rgba(32, 25, 84, 0.4), transparent 60%),
        radial-gradient(at 70% 80%, rgba(18, 41, 89, 0.3), transparent 60%),
        radial-gradient(at 80% 10%, rgba(25, 74, 29, 0.3), transparent 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@keyframes subtle-blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
}
.subtle-blink {
    animation: subtle-blink 2.4s infinite;
}