<section id="hero" class="flex translate-y-20 w-screen px-52 bg-green-600">
    <div class="grid grid-cols-2 gap-x-80 w-full bg-green-400" >
        <div class="text-center pt-25 p-8">
            <img src="" alt="" srcset="">
        </div>
        <div class="text-center pt-25 p-8">
            <h1 class="text-4xl font-bold text-white">Juan David Serna Quilindo</h1>
            <p class="text-xl text-white mt-4">Full Stack Developer | Tech Enthusiast | Problem Solver</p>
        </div>
    </div>
</section>
