<header class="h-full">
    <nav class="flex justify-center p-8">
        <ul class="flex w-2xl justify-between font-bold text-white text-lg">
            <li>Home</li>
            <li>About me</li>
            <li>Projects</li>
            <li>Contact me</li>
        </ul>
    </nav> 
</header>