---
import "../styles/global.css";
---

<html lang="es" class="bg-gray-900 text-zinc-200">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Juan David Serna Quilindo</title>
    </head>
    <body class="min-h-screen font-sans">
        <slot />
    </body>
</html>
